# static configuration for git_multimail
[multimailhook]
	# can be overridden by user config
	commitEmailFormat = html
	environment = generic
	replyToCommit = author
	replyToRefchange = pusher
	dateSubstitute = none
	maxCommitEmails = 20
	emailMaxLines = 1000
	emailPrefix = "%(repo_shortname)s "
	mailer = smtp
	smtpServer = smtp.mailgun.org:2525
	smtpUser = postmaster@mail.commit-emails.xyz
	# smtpPass comes from environment variable
	smtpEncryption = ssl
	# don't output to stderr on success
	quiet = true
