# static configuration for git_multimail
[multimailhook]
	environment = generic
	from = notifications@commit-emails.xyz
	replyToCommit = author
	replyToRefchange = pusher
	dateSubstitute = none
	maxCommitEmails = 20
	emailMaxLines = 1000
	emailPrefix = "%(repo_shortname)s "
	mailer = smtp
	smtpServer = smtp.mailgun.org
	smtpUser = postmaster@mg.commit-emails.xyz
	# smtpPass comes from environment variable
	smtpEncryption = ssl
